accelerate==0.29.3
datasets==2.19.0
fsspec==2024.3.1
huggingface-hub==0.22.2
numpy==1.26.4
pandas==2.2.1
pyarrow==16.0.0
pytest==8.1.1
scikit-learn==1.4.2
sentence-transformers==2.7.0
torch==2.2.2
transformers==4.40.0